@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

@font-face {
  font-family: AirbnbCereal_W_Bd;
  src: url(fonts/AirbnbCereal_W_Bd.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* body {
  display: flex;
  justify-content: center;
} */

.App {
  /* transform: translateX(-50%); */
  /* left: 50%; */
  margin: 0 auto;
}

#forth-section {
  grid-template-columns: 1.5fr 2.5fr;
}

@media (max-width: 1023.9px) {
  #forth-section {
    grid-template-columns: 1fr;
  }
}

/* @media (max-width: 338.9px) {
  .VerySmallPhones\:w-\[30px\] {
    width: 30px;
  }
} */

@media (max-width: 767px) {
  #forth-section {
    padding: 44px;
  }
  #first-section {
    width: 100%;
  }
  #forthsecfig {
    width: 100%;
    padding: 12px;
  }
}
