@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

@font-face {
  font-family: AirbnbCereal_W_Bd;
  src: url(fonts/AirbnbCereal_W_Bd.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

/* body {
  display: flex;
  justify-content: center;
} */

.App {
  transform: translateX(-50%);
  left: 50%;
}

#forth-section {
  grid-template-columns: 1.5fr 2.5fr;
}

@media (max-width: 1023.9px) {
  #forth-section {
    grid-template-columns: 1fr;
  }
}

/* #parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 8px solid red;
}

.child {
  width: 500px;
  height: 500px;
  position: fixed;
  border: 4px solid yellow;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%) translateY(-50%);
} */
